body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

nav {
    background-color: #555;
    color: white;
    padding: 10px;
    text-align: center;
}

nav a {
    text-decoration: none;
    color: white;
    padding: 10px;
    margin: 0 5px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #00cc00; /* Green */
}

section {
    padding: 20px;
}

footer {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

/* Additional styles specific to Sell Goods page */
section h2 {
    color: #00cc00; /* Green */
}
